*~
/*.patch
/depend
/example/client
/docs/html
/docs/man
*.o
*.lo
*.la

.deps
.libs
.dirstamp
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/stamp-h1
/libtool
/m4/libtool.m4
/m4/lt*.m4
/config

/INSTALL
/configure
/Makefile
/*/Makefile
/Makefile.in
/*/Makefile.in
/docs/Doxyfile
/docs/doxyfile.stamp
/lcdapi-*.tar.gz
/docs/doxygen_sqlite3.db
