/*.patch
/depend
/example/client
/example/client.o
/docs/html
/*.o
/*.lo
/*.la

/.deps
/*/.deps
/.libs
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/missing
/stamp-h1
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4

/INSTALL
/NEWS
/configure
/Makefile
/*/Makefile
/Makefile.in
/*/Makefile.in
/docs/Doxyfile
/lcdapi-*.tar.gz
